/* CSS */

#verb {
	width: 200px;
}

#verb_title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: hsl(210, 50%, 50%);
}

#info {
	font-size: 16px;
	text-align: center;
	vertical-align: bottom;
}


groupbox {
	width: 275px;
}

#smallnote {
	font-size: 10px;
	width: 250px;
}

caption {
	color: hsl(0, 50%, 50%);
	font-size: 16px;
	font-weight: bold;
}

label.temps {
	color: hsl(210, 50%, 50%);
	font-size: 13px;
	font-weight: bold;
}
label.cj {
	font-size: 11px;
}
