/* CSS */

.section {
    font-size: 16px;
    font-weight: bold;
    color: hsl(210, 50%, 50%);
}

.subsection {
    font-size: 14px;
    font-weight: bold;
    color: hsl(210, 50%, 50%);
}

.option {
    width: 120px;
    font-size: 12px;
}

.m_left {
    margin-left: 20px;
}

.m_left2 {
    margin-left: 40px;
}

.v_usage {
    width: 150px;
}
.v_textbox {
    width: 200px;
}

.other_label {
    width: 80px;
}
.other_textbox {
    width: 250px;
}

#generated_words {
    width: 400px;
    height: 620px;
}

/*
    Lexicon tab
*/

#lexicon {
    width: 600px;
    height: 650px;
}

.info_label {
    width: 120px;
}
.data {
    width: 100px;
}