/*
    CSS
    Content panels for Grammalecte
*/


/*
    Wrapper
*/
.grammalecte_wrapper {
    padding: 5px;
    border-radius: 3px;
    background-color: hsl(210, 50%, 50%);
    font-family: "Trebuchet MS", "Liberation Sans", sans-serif;
    color: hsl(210, 10%, 90%);
}

.grammalecte_wrapper_button {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    background-color: hsl(210, 50%, 60%);
    border-radius: 2px;
    cursor: pointer;
}


/*
    Panels
*/
.grammalecte_panel {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    border: 10px solid hsl(210, 0%, 0%);
    border-radius: 10px;
    background-color: hsl(210, 20%, 100%);
    color: hsl(210, 10%, 4%);
    font-family: "Trebuchet MS", "Liberation Sans", sans-serif;
    box-shadow: 0 0 4px 2px hsl(210, 0%, 50%);
}

.grammalecte_title_bar {
    position: sticky;
    width: 100%;
    background-color: hsl(210, 0%, 90%);
    border-bottom: 1px solid hsl(210, 10%, 80%);
    font-size: 20px;
}
.grammalecte_title {
    padding: 10px 20px;
}
.grammalecte_label {
    display: inline-block;
    padding: 0 10px;
}

.grammalecte_close_button {
    float: right;
    padding: 2px 10px;
    background-color: hsl(0, 80%, 50%);
    border-radius: 0 0 0 3px;
    font-size: 22px;
    font-weight: bold;
    color: hsl(210, 0%, 100%);
    text-align: center;
    cursor: pointer;
}

.grammalecte_panel_content {
    height: calc(100% - 45px); /* panel height - title_bar */
    overflow: auto;
}


/*
    GC Panel & Lexicographer
*/
#grammalecte_gc_panel, #grammalecte_lxg_panel {
    width: 500px;
    height: 700px;
    margin-top: -350px;
    margin-left: -200px;
}


/*
    Conjugueur
*/
#grammalecte_conj_panel {
    width: 700px;
    height: 700px;
    margin-top: -350px;
    margin-left: -350px;
}


/*
    Text Formatter
*/
#grammalecte_tf_panel {
    width: 800px;
    height: 600px;
    margin-top: -300px;
    margin-left: -400px;
}

#grammalecte_tf_options {
    display: flex;
    padding: 10px;
}
#grammalecte_tf_options .underline:hover {
    background-color: hsl(210, 10%, 86%);
    border-radius: 2px;
}
.grammalecte_tf_column {
    flex-grow: 1;
    width: 360px;
    padding: 0 5px;
}
#grammalecte_tf_options legend label {
    font-size: 20px;
    color: hsla(210, 20%, 50%, .8);
    font-weight: bold;
}
#grammalecte_tf_options fieldset {
    padding: 2px 10px 10px 13px;
    margin-bottom: 5px;
    background-color: hsl(210, 10%, 96%);
    border-color: hsl(210, 20%, 80%);
    border-radius: 3px;
}
#grammalecte_tf_options legend .option {
    margin: 7px 5px 0 4px;
    float: left;
}
#grammalecte_tf_options label {
    font-size: 13px;
}
#grammalecte_tf_options .grammalecte_tf_result {
    float: right;
    font-size: 13px;
}

#grammalecte_tf_actions {
    background-color: hsl(120, 10%, 92%);
    padding: 15px;
    border-top: 1px solid hsl(120, 20%, 86%);
}

.grammalecte_button {
    display: inline-block;
    padding: 5px 10px;
    width: 100px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#grammalecte_tf_reset {
    background-color: hsl(210, 80%, 50%);
    color: hsl(210, 0%, 100%);
}
#grammalecte_tf_apply {
    background-color: hsl(150, 80%, 50%);
    color: hsl(150, 0%, 100%);
}

#grammalecte_progressbarbox {
    display: inline-block;
    padding: 10px 20px;
}
