/*
    CSS
    Content panels for Grammalecte
*/

.grammalecte_panel {
    padding: 0;
    margin: 0;
    position: fixed;
    box-sizing: content-box;
    z-index: 2147483641; /* maximum is 2147483647: https://stackoverflow.com/questions/491052/minimum-and-maximum-value-of-z-index */
    border: 2px solid hsl(210, 10%, 50%);
    border-radius: 10px 10px 10px 10px;
    background-color: hsl(210, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-family: "Trebuchet MS", "Fira Sans", "Liberation Sans", sans-serif;
    box-shadow: 0 0 2px 1px hsla(210, 50%, 50%, .5);
    line-height: normal;
    text-shadow: none;
    text-decoration: none;
    text-align: left;
}
.grammalecte_panel img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.grammalecte_panel_bar {
    position: sticky;
    width: 100%;
    background-color: hsl(210, 0%, 90%);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid hsl(210, 10%, 80%);
    color: hsl(210, 10%, 4%);
    font-size: 20px;
}
.grammalecte_panel_title {
    padding: 10px 20px;
}
.grammalecte_panel_label {
    display: inline-block;
    padding: 0 10px;
}
.grammalecte_panel_invisible_marker {
    position: absolute;
    /*visibility: hidden;*/
    font-size: 6px;
    color: hsl(210, 0%, 90%); /* same color than panel_bar background */
}

.grammalecte_panel_commands {
    float: right;
}
.grammalecte_copy_button {
    display: inline-block;
    padding: 2px 10px;
    background-color: hsl(150, 80%, 30%);
    border-radius: 0 0 0 3px;
    font-size: 22px;
    font-weight: bold;
    color: hsl(150, 0%, 100%);
    text-align: center;
    cursor: pointer;
}
.grammalecte_copy_button:hover {
    background-color: hsl(150, 100%, 40%);
}
.grammalecte_move_button {
    display: inline-block;
    padding: 2px 5px;
    background-color: hsl(180, 80%, 50%);
    font-size: 22px;
    font-weight: bold;
    color: hsl(180, 0%, 100%);
    text-align: center;
    cursor: pointer;
}
.grammalecte_move_button:hover {
    background-color: hsl(180, 100%, 60%);
}
.grammalecte_close_button {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 0 8px 0 0;
    background-color: hsl(0, 80%, 50%);
    font-size: 22px;
    font-weight: bold;
    color: hsl(210, 0%, 100%);
    text-align: center;
    cursor: pointer;
}
.grammalecte_close_button:hover {
    background-color: hsl(0, 100%, 60%);
}

.grammalecte_panel_content {
    position: absolute;
    width: 100%;
    height: calc(100% - 55px); /* panel height - title_bar */
    overflow: auto;
}

.grammalecte_panel_message {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: hsl(0, 50%, 40%);
    color: hsl(0, 50%, 96%);
    font-size: 16px;
}


/*
    Spinner
*/
.grammalecte_spinner {
    visibility: hidden;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 200px;
    background-color: hsla(210, 80%, 80%, .5);
    border: 10px solid hsla(210, 80%, 60%, .5);
    border-top: 10px solid hsla(210, 100%, 40%, .7);
    border-bottom: 10px solid hsla(210, 100%, 40%, .7);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 hsla(210, 50%, 50%, .5);
    animation: grammalecte-spin-big .5s linear infinite;
}

@keyframes grammalecte-spin-big {
    0% {
        transform: rotate(0deg) scale(1);
        border-top: 10px solid hsla(210, 100%, 40%, .7);
        border-bottom: 10px solid hsla(210, 100%, 40%, .7);
    }
    70% {
        transform: rotate(180deg) scale(.8);
        border-top: 10px solid hsla(0, 100%, 40%, .7);
        border-bottom: 10px solid hsla(0, 100%, 40%, .7);
        box-shadow: 0 0 0 20px hsla(210, 50%, 50%, 0);
    }
    100% {
        transform: rotate(360deg) scale(1);
        border-top: 10px solid hsla(210, 100%, 40%, .7);
        border-bottom: 10px solid hsla(210, 100%, 40%, .7);
        box-shadow: 0 0 0 0 hsla(210, 50%, 50%, 0);
    }
}
