/*
    CSS for the Text Formatter
*/


/*
    Options
*/
#grammalecte_tf_options {
    display: flex;
    padding: 10px;
}
.grammalecte_tf_column {
    flex-grow: 1;
    width: 360px;
    padding: 0 5px;
}
#grammalecte_tf_options legend label {
    font-size: 20px;
    color: hsla(210, 20%, 50%, .8);
    font-weight: bold;
}
#grammalecte_tf_options fieldset {
    padding: 2px 10px 10px 13px;
    margin-bottom: 5px;
    background-color: hsl(210, 10%, 96%);
    border-color: hsl(210, 20%, 80%);
    border-radius: 3px;
}
#grammalecte_tf_options legend .option {
    margin: 7px 5px 0 4px;
    float: left;
}
#grammalecte_tf_options label {
    font-size: 13px;
}
#grammalecte_tf_options .underline:hover {
    background-color: hsl(210, 10%, 86%);
    border-radius: 2px;
}
#grammalecte_tf_options .blockopt .option {
    margin: 4px 5px 0 6px;
    float: left;
}
#grammalecte_tf_options .grammalecte_tf_result {
    float: right;
    margin: 2px 3px 0 0;
    font-size: 13px;
}
#grammalecte_tf_options .indent {
    padding-left: 20px;
}
#grammalecte_tf_options .inlineblock {
    display: inline-block;
    margin-right: 10px;
}
#grammalecte_tf_options .rmg10 {
    margin-right: 10px;
}



/*
    Actions
*/
#grammalecte_tf_actions {
    /*background-color: hsl(120, 10%, 92%);*/
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 10px 15px;
    border-top: 1px solid hsl(210, 10%, 90%);
}

.grammalecte_button {
    display: inline-block;
    padding: 5px 10px;
    width: 100px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#grammalecte_tf_reset {
    background-color: hsl(210, 50%, 50%);
    color: hsl(210, 0%, 100%);
}
#grammalecte_tf_reset:hover {
    background-color: hsl(210, 50%, 40%);
}
#grammalecte_tf_progressbar {
    width: 400px;
}
#grammalecte_tf_time_res {
    width: 60px;
    padding: 5px 10px;
}
#grammalecte_tf_apply {
    background-color: hsl(120, 50%, 50%);
    color: hsl(150, 0%, 100%);
}
#grammalecte_tf_apply:hover {
    background-color: hsl(120, 50%, 40%);
}

#grammalecte_progressbarbox {
    display: inline-block;
    padding: 10px 20px;
}
