/*
    CSS
    Wrappen for Grammalecte
*/


.grammalecte_wrapper {
    margin: 0 0 5px 0;
    padding: 2px 5px 5px 5px;
    box-sizing: border-box;
    border-radius: 0 0 3px 3px;
    background-color: hsla(210, 100%, 96%, .2);
    border-left:   1px solid hsla(210, 100%, 92%, .2);
    border-right:  1px solid hsla(210, 100%, 92%, .2);
    border-bottom: 1px solid hsla(210, 100%, 92%, .2);
    /*box-shadow: 0 0 2px hsla(210, 100%, 0%, .2);*/
    font-family: "Trebuchet MS", "Liberation Sans", sans-serif;
}

.grammalecte_wrapper_title {
    display: inline-block;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 0px 1px 0px hsla(210, 10%, 10%, .8);
    color: hsla(210, 100%, 90%, .5);
}

.grammalecte_wrapper_toolbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    padding: 5px 10px;
}

.grammalecte_wrapper_button {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    background-color: hsl(210, 60%, 80%);
    border-radius: 2px;
    border: 1px solid hsl(210, 60%, 70%);
    font-size: 14px;
    color: hsl(210, 40%, 40%);
    cursor: pointer;
}
.grammalecte_wrapper_button:hover {
    background-color: hsl(210, 80%, 70%);
    border: 1px solid hsl(210, 80%, 60%);
    box-shadow: 0 0 1px 1px hsla(210, 100%, 50%, .5);
    color: hsl(210, 80%, 98%);
}

.grammalecte_wrapper_conj_section {
    display: none;
}

.grammalecte_wrapper_button2 {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    background-color: hsl(180, 60%, 80%);
    border-radius: 2px;
    border: 1px solid hsl(180, 60%, 70%);
    font-size: 14px;
    color: hsl(180, 40%, 40%);
    cursor: pointer;
}
.grammalecte_wrapper_button2:hover {
    background-color: hsl(180, 80%, 70%);
    border: 1px solid hsl(180, 80%, 60%);
    box-shadow: 0 0 1px 1px hsl(180, 80%, 80%);
    color: hsl(180, 80%, 98%);
}
