/*
    CSS
    Wrappen for Grammalecte
*/


.grammalecte_wrapper {
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    background-color: hsl(210, 40%, 96%);
    border: 1px solid hsl(210, 40%, 92%);
    box-shadow: 0 0 2px hsla(210, 40%, 0%, .5);
    font-family: "Trebuchet MS", "Liberation Sans", sans-serif;
    color: hsl(210, 40%, 50%);
}

.grammalecte_wrapper_title {
    padding: 5px 0;
    font-size: 12px;
    font-variant: small-caps;
}

.grammalecte_wrapper_toolbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    padding: 5px 10px;
}

.grammalecte_wrapper_button {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    background-color: hsl(210, 60%, 80%);
    border-radius: 2px;
    border: 1px solid hsl(210, 60%, 70%);
    font-size: 14px;
    color: hsl(210, 40%, 40%);
    cursor: pointer;
}
.grammalecte_wrapper_button:hover {
    background-color: hsl(210, 80%, 70%);
    border: 1px solid hsl(210, 80%, 60%);
    box-shadow: 0 0 1px 1px hsl(210, 80%, 80%);
    color: hsl(210, 80%, 98%);
}

.grammalecte_wrapper_conj_section {
    display: none;
}

.grammalecte_wrapper_button2 {
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    background-color: hsl(180, 60%, 80%);
    border-radius: 2px;
    border: 1px solid hsl(180, 60%, 70%);
    font-size: 14px;
    color: hsl(180, 40%, 40%);
    cursor: pointer;
}
.grammalecte_wrapper_button2:hover {
    background-color: hsl(180, 80%, 70%);
    border: 1px solid hsl(180, 80%, 60%);
    box-shadow: 0 0 1px 1px hsl(180, 80%, 80%);
    color: hsl(180, 80%, 98%);
}
